{% extends 'base.html' %}
{% load static %}
{% block title%}
    Обьявления
{% endblock %}
{% block content %}
    {% for ads in ads_list %}

        <div class="card" style="width: 18rem;">
            <img src="{{ ads.file.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ ads.title }}</h5>
                <p class="card-text">{{ ads.body|truncatewords:5 }}</p>
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>
        </div>

    {% endfor %}
{% endblock %}

